# database
DATABASE_ASYNC_URL=postgresql+asyncpg://user:password@host:port/dbname
DATABASE_SYNC_URL=postgresql://user:password@host:port/dbname

# Openrouter LLM
OPENROUTER_API_KEY=your_openrouter_api_key
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_MODEL=gemini-2.0-pro