docling
alembic
sqlalchemy
psycopg2-binary
pgvector
pydantic==2.13.3
pydantic-settings
fastapi==0.115.12
langchain
langchain-openai
openai
langgraph
uvicorn
langgraph-checkpoint-postgres
python-multipart
asyncpg
starlette==0.46.2
langchain-community
python-jose
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
fastapi-filter==2.0.1